* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: lightyellow;
}
header {
  padding: 20px 35px;
  background-color: teal;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: honeydew;
}
header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: green;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
  text-decoration: none;
  color: red;
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.75vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.flexContainer {
  display: flex;
}
.side-title {
  display: flex;
  flex-basis: 23%;
  border-right: indigo 3px solid;
  justify-content: flex-end;
  margin: 20px 5px;
}
.side-title h2 {
  font-size: 32px;
  justify-content: flex-end;
  text-align: right;
  padding: 0 10px;
}
.column2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 66%;
  margin: 20px 10px;
}
#mainphoto {
  width: 100%;
}
.img {
  display: flex;
  flex-basis: 33%;
  border: 3px lightgreen so;
}
.para {
  display: flex;
  flex-basis: 66%;
  flex-wrap: wrap;
  padding: 0 10px;
}

.big {
  display: flex;
  position: relative;
  justify-content: center;
  flex-basis: 88%;
  opacity: 0.5;
  margin: 10px 10px;
  border: indigo solid 3px;
}

.small {
  display: flex;
  justify-content: center;
  flex-basis: 43%;
  position: relative;
  border: solid indigo 3px;
  margin: 10px 10px;
  opacity: 0.5;
}
.big img,
.small img {
  width: 100%;
}
.big:hover,
.small:hover {
  opacity: 1;
}
.text {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 48px;
  left: 0px;
  background-color: lightblue;
  font-size: 1vw;
}

footer nav {
  display: flex;
}
footer a {
  text-decoration: none;
  color: red;
}

footer nav {
  margin: 20px 20px;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer nav ul li a {
  padding: 300px 15px;
  font-weight: lighter;
  font-size: 1.75vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
