* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: honeydew;
}
header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: green;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
  text-decoration: none;
  color: red;
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.75vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.side-title {
  display: flex;
  flex: 25%;
}
.side-title h2 {
  font-size: 32px;
  text-align: right;
}
.about-me {
  display: flex;
  flex: 66%;
  justify-content: center;
}
.projects {
  display: flex;
  flex: 66%;
  justify-content: center;
  border: hotpink 3px solid;
}
.project {
  display: flex;
  flex: 66%;
  justify-content: space-around;
  position: relative;
  border: hotpink 3px solid;
}
.project img {
  max-width: 22vw;
}
.project-title {
  position: absolute;
  top: -48px;
}
.language {
  position: absolute;
  top: -28px;
}
