* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: black;
  --secondary-color: white;
  --third-color: red;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: lightgrey;
}
/* header */
.h1 {
  display: flex;
  flex-basis: 16%;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary-color);
  padding-right: 10px;
  border-right: var(--secondary-color) 3px solid;
}
.next {
  display: flex;
  position: relative;
  flex-basis: 84%;
  background-color: var(--primary-color);
}
.h1 h1 {
  font-size: 36px;
  color: var(--secondary-color);
  text-align: right;
  text-shadow: 1px 1px 5px rgba(244, 244, 248);
  font-weight: bold;
}
.img {
  display: flex;
  justify-content: center;
  flex-basis: 86%;
  padding: 75px 0;
}
#mainphoto {
  max-height: 20vw;
  width: auto;
  border-radius: 50%;
  border: var(--secondary-color) solid 3px;
}
header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  display: flex;
  position: relative;
  flex-basis: 3%;
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
}

header nav ul li a {
  padding: 0 10px;
  font-weight: lighter;
  font-size: 1.75vw;
}
header nav ul li a:hover {
  transition: background-color 0.5s ease;
  background-color: var(--third-color);
}
.subtitle {
  display: flex;
  position: absolute;
  bottom: -01.5vw;
  right: 33.5vw;
  font-size: 1.95vw;
  background-color: var(--secondary-color);
  font-family: cursive;
  text-shadow: 2px 1px 5px var(--primary-color);
  padding: 5px 5px;
  box-shadow: 2px 4px 1px var(--third-color);
}
/* header end */

/* 2 column set up start */
.flexContainer {
  display: flex;
}
.side-title {
  display: flex;
  flex-basis: 16%;
  border-right: var(--primary-color) 3px solid;
  justify-content: flex-end;
  margin: 10px 5px;
}

.column2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 84%;
  margin: 10px 10px;
}

.side-title h2,
h4 {
  font-size: 32px;
  justify-content: flex-end;
  text-align: right;
  padding: 0 10px;
}
h2::first-letter,
h4::first-letter {
  font-family: fantasy;
  font-size: 41px;
}
/* 2 column end */
/* about paragraphs */
.para {
  width: 75%;

  padding: 10px 10px;
  text-align: center;
}
.para::first-letter {
  font-size: 36px;
  font-family: cursive, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: bold;
  color: var(--third-color);
}
/* Work start */

/* main project prominance */
.big {
  display: flex;
  position: relative;
  justify-content: center;
  flex-basis: 88%;
  opacity: 0.5;
  margin: 10px 10px;
  border: var(--primary-color) solid 3px;
}
/* make sub Work smaller and in-line with maind borders */
.small {
  display: flex;
  justify-content: center;
  flex-basis: 43.3%;
  position: relative;
  border: solid var(--primary-color) 3px;
  margin: 10px 10px;
  opacity: 0.65;
}

.big img,
.small img {
  width: 100%;
}
/* highlight project on hover  and change text colors*/
.big:hover,
.small:hover {
  opacity: 1;
}
.big:hover > .text,
.small:hover > .text {
  background: var(--primary-color);
  color: var(--secondary-color);
}
/* place a caption on project */
.text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 10px;
  padding: 5px 5px;
  background-color: var(--third-color);
  font-size: 1vw;
}
/* Work style ends */

/* footer starts */
footer nav {
  display: flex;
  flex-basis: 100%;
}

footer nav ul {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
}
footer nav li {
  padding: 0px 30px;
}
footer img {
  max-width: 5vw;
  margin-bottom: 5px;
}
.beside {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}
.beside::before {
  content: "6138785934";
  padding-right: 5px;
}
/*  not sure why phone looks bigger */

/* footer ends */
@media screen and (max-width: 1024px) {
  /* remove the 2 column layout from header */
  .h1 {
    flex: 0 100%;
    border-right: none;
    justify-content: center;
    padding-top: 10px;
  }
  /* switch to verticle layout */
  .next {
    flex-direction: column;
    flex: 0 100%;
  }
  header nav {
    justify-content: center;
  }
  header nav ul {
    flex-direction: row;
    padding-bottom: 50px;
    margin: 0;
  }
  .img {
    flex: 0 90%;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #mainphoto {
    margin: 10px 0;
  }
  /* make nav more readable */
  header nav ul li a {
    font-size: 2vw;
  }
  /* center subtitle */
  .subtitle {
    right: 36vw;
  }
  /* ditch 2 column layout for everywhere else  */
  .flexContainer {
    flex-wrap: wrap;
  }
  .side-title {
    flex: 0 100%;
    border-right: none;
    justify-content: center;
    margin: 20px 0;
  }
  .column2 {
    flex: 0 100%;
  }
  /* move headers to middle make the border be under rather then --> right  */
  .side-title h2,
  .side-title h4 {
    font-size: 22px;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
    border-bottom: var(--primary-color) 3px solid;
  }

  .para {
    padding: 10px 10px;
  }
  /* make captions a bit bigger */
  .text {
    font-size: 1.75vw;
  }
  /* adjust spacing for footer  */
  footer nav li {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  /* make nav more readable */
  header nav ul li a {
    font-size: 2.5vw;
  }
  /* make photo of me bigger */
  #mainphoto {
    max-height: 25vw;
  }
  /* highlight projects and make small a bit bigger  */
  .small {
    flex: 0 59%;
    opacity: 1;
  }
  .big {
    opacity: 1;
  }
  /* footer images were to small */
  footer img {
    max-width: 7.25vw;
  }
  /* decrease spacing between images */
  footer nav li {
    padding: 0 10px;
  }
}
